.App {
  display: flex;
}
.header-wrapper {
  display: flex;
  width: 100vw;
  position: fixed;
  top: 0;
  flex-direction: row;
  padding: 20px 20vw;
  background-color: rgb(255, 255, 195);
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 80px;
  object-fit: cover;
}